html {
    height: 100%;
    width: 100%;
    font-family: myFirstFont;
    background-color: aliceblue;
}

@font-face {
    font-family: myFirstFont;
    src: url(roboto.ttf);
  }

p {
    color: grey;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

ul.topnav li a {
    display: block;
    text-align: center;
}

#topimg {
    margin-right: auto;
}

#top > *:not(:last-child):not(:first-child) > a {
    border-right: solid black 2px;
}

#top {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    color: lightcoral;
    background-color: white;
    padding: 20px;
}


#logo_image {
    width: 100px;
    height: 100px;
}

li {
    list-style: none;
}


a {
    font-size: 3em;
    padding: 0px 10px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: min-content;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.6em;
}

#bottom {
    background-color: aliceblue;
    display: flex;
    padding: 10px;
    height: auto;
}

#classroomimages {
    display: flex;
    flex-flow: row wrap;
    height: auto;
}

#classroomimages > img {
    width: 30%;
    height: auto;
    margin: 5px;
    flex-basis: calc(50% - 20px);
}


@media screen and (max-width: 400px) {
    #top {
        flex-direction: column;
    }

    #topimg {
        margin: 0;
    }

    #top *:not(:last-child):not(:first-child) > a {
        border-right: solid black 0px;
        border-bottom: solid lightpink 2px;
    }

    #top {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #top *:last-child > a {
        border-bottom: solid lightpink 2px;
    }

    #bottom {
        flex-direction: column;
    }

    #classroomimages {
        flex-flow: column;
    }

    #classroomimages > img {
        width: 100%;
    }

    p {
        font-size: 1.3em;
    }

    ul.topnav li.right, 
    ul.topnav li {float: none;}
}